* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Secular One', sans-serif;
}

.top {
    width:90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.left ul {
    display: flex;
    align-items: center;
    /* padding:25px; */
    list-style: none;
}

.left ul li {
    padding-left:2rem;
}

ul a {
    text-decoration: none;
    font-size: 20px;
    color:black;

}

.left ul li i {
    padding: 20px;
}

.icon {
    display: flex;
    align-items: center;
    border: 1px solid;
    padding: 0 10px;
    border-radius: 10px;
}

.icon:hover {
    background-color: black;
    color: white;
}

.icon h1 {
    margin: 10px;
}

.on {
    margin-top: 5px;
    width: 22px;
    height: 18px;
    border: 2px solid;
    border-radius: 50%;
    background-color: black;
}

.botam {
    background-color: black;
    color: aliceblue;
    height: 50vh;
}

.one {
    position: absolute;
    top: 30%;
    left: 30%;
    font-size: 40px;
    text-transform: uppercase;
}

.one p {
    padding-top: 20px;
    font-size: 30px;
}

.shop {
    border: 1px solid;
    width: 30%;
    height: 50vh;
    background-color: rgb(187, 184, 184);
}

.left li ul {
    display: none;
    flex-direction: column;
}

.left li:hover ul {
    display: block;
    position: absolute;
    top:9%;
    left:25%;
    background-color:white;


}
.list li:hover{
    background-color:orangered;
}
.batan{
    display: flex;
    margin:25px;
}

.list li{
    border-bottom: 1px solid;
    padding: 0.5rem;
}
.shop{
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(63, 62, 62, 0.553);
}
.overline{
    text-decoration: line-through;
    
}
.para{
    color: #8c8a8ae6;
    width:40%;
    padding-left: 3rem;
    
}
.over{
    padding-left:14px;
    padding-bottom:3rem;
}
.price{
    display: flex;
    
}
.para h3{
    border: 2px solid;
    width: 10%;
    text-align:center;
    margin-top:20px;
    align-items: center;
    border-radius:5px;
    padding-top:10px ;
}
.cart{
    display: flex;
    
}
.cart h2{
    border: 2px solid;
    margin-top: 20px; 
    margin-left:15px;
    width: 30%;
    text-align: center;
    border-radius: 5px;
    padding:5px;
    color: black;


}
.hader{
    background-color:black;
    color:#fff;
    align-items: center;
    text-align: center;
    padding: 1rem;
    font-size:13px;
}